.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border-bottom: 1px solid #eaeaea;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 1rem;

  :hover {
    color: white;
    text-shadow: 1px 1px black;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @media (min-width: 640px) and (max-width: 768px) {
    width: 50%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 40%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }
}

.text {
  cursor: pointer;
}

.text:hover {
  color: white;
  text-shadow: 1px 1px black;
}

.mobile_cart {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: 10px;
  }

  .logo {
    margin-bottom: 0;
  }
}

.cart_count {
  background: #aea0a0;
  padding: 2px 7px;
  border-radius: 50%;
  margin: -17px 0px 0 -10px;
}
